[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "scov"]
	path = scov
	url = https://github.com/m-metodiev/scov
[submodule "thamesmix"]
	path = thamesmix
	url = https://github.com/m-metodiev/thamesmix
